*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    position: relative;
    font-family: 'Judson';
}


.nav-after-login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px 80px;
    top: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    margin-top: 15px;
    padding: 0 50px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.navbar-menor{
    display: none;
}

.navbar-menor i{
    color : black;
    align-items: center;
}

.nav-bar-icon {
    margin: 0; 
    padding: 0; 
}

.nav-bar-icons {
    display: flex;
}

#blog-menu:hover, #vagas-menu:hover, #projetos-menu:hover, #perfil-menu:hover, #calendario-menu:hover, #notificacoes-menu:hover{
    color: white;
    background-color: #343434;
}

#blog:hover, #vagas:hover, #projetos:hover, #perfil:hover, #calendario:hover, #despesas:hover{
    cursor: pointer;
    color: #343434;
}

@media screen and (max-width: 769px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: white;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 40px 0 0 10px;
    }   

    #navbar.active{
        right: 0;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    .navbar-menor{
        display: block;
    }

    .navbar-menor i{
        font-size: 24px;
        cursor: pointer;
    }
}